body {
    font-family: sans-serif;
    background-color: #008080;
}

.content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F0F0F0;
    color: #101010;
    border-radius: 10px;
    text-align: left;
    padding: 25px 50px 25px 50px;
}

.quotation {
    font-style: italic;
    padding: 10px 10px 10px 10px;
    background-color: #C0C0C0;
    border-radius: 10px;
}

.screenshots {
    padding: 10px 10px 10px 10px;
    float: left;
}